{%extends 'base.html'%}
{%load static%}

 {%block main_block%}


    <h1 class="text-center section-tittl p-5  ">Latest Car</h1>
    <div class="container">
        <h3>Mini Cooper S 1961–1971 model</h3>
        <p>The 848 cc (51.7 cu in) engine from the Morris Mini-Minor was given a longer stroke to increase capacity to 997 
            cc (60.8 cu in) increasing power from 34 to 55 bhp (25 to 41 kW).[32] The car featured a race-tuned engine, 
            twin SU carburettors, a closer-ratio gearbox and front disc brakes, uncommon at the time in a small car. 
            One thousand units of this version were commissioned by management, intended for and designed to meet 
            the homologation rules of Group 2 rally racing. The 997 cc engine was replaced by a shorter stroke
             998 cc unit in 1964. In 1962, Rhodesian John Love became the first non-British racing driver to
              win the British Saloon Car Championship driving a Mini Cooper</p>

    </div>
 <div class="man-shape d-flex justify-content-center">
    <img src="static/img/collection/h.jpg" alt="" width="1200px;">
</div>

{%endblock%}