{%extends 'base.html'%}
{%load static%}

 {%block main_block%}
        
<div class="shop-method-area ">
    <div class="container ">
        <div class="text-center section-tittl p-5"><h1>Support</h1></div>
        <div class="row  justify-content-between">
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-method">
                    <i class="ti-package"></i>
                    <h6>Shipping Method</h6>
                    <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-method mb-40">
                    <i class="ti-unlock"></i>
                    <h6>Secure Payment System</h6>
                    <p>Secure payment systems are equipped with robust encryption </p>
                </div>
            </div> 
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-method mb-40">
                    <i class="ti-reload"></i>
                    <h6>Checking warranty</h6>
                    <p>we are giving you a 10 days checking warranty for our cars</p>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}